body {
  margin: 0px;
  padding: 0px;
}
* {
  box-sizing: border-box;
}
.containerForm {
  width: 400px;
  margin-left: 200px;
  padding-top: 10px;
}
.el-select {
  width: 320px;
}
.formFotter {
  display: flex;
  justify-content: space-around;
}
a {
  cursor: pointer;
}
.container {
  background-color: white;
  height: 100%;
  overflow: hidden;
  padding: 20px;
  position: relative;
  overflow: auto;
}
.el-pagination {
  position: absolute;
  bottom: 5px;
  left: 30px;
  height: 35px;
}
.el-input,
.el-input-number {
  width: 320px;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.half-charts {
  width: calc(50% - 20px);
  height: 400px;
}
.charts {
  width: 100%;
  height: 400px;
}
.toolbar {
  height: 35px;
}
.el-table {
  height: calc(100% - 120px);
}
.el-card__header,
.el-card__body {
  padding: 8px !important;
}
/* 滚动槽 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.06);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}
